<footer>
  <div class="siteFooter">
    <p>© {{currYear}} Andrea Di Stefano. All rights reserved.</p>
    <p class="verticalSeparator">|</p>
    <hr class="horizontalSeparator">
    <p>Made with 🧡 using Angular</p>
    <p class="verticalSeparator">|</p>
    <hr class="horizontalSeparator">
    <p>My <a href="https://www.linkedin.com/in/andrea-di-stefano-198562244/" target="_blank" rel="noopener">LinkedIn</a></p>
    <p class="verticalSeparator">|</p>
    <hr class="horizontalSeparator">
    <p>My <a href="https://github.com/PinkAvocadoDev/" target="_blank" rel="noopener">GitHub</a></p>
  </div>
</footer>
