footer{
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.horizontalSeparator{
  display: none;
  width: 90%;
  padding: 0;
  margin: auto;
  color:  var(--textColor);
}

p{
  font-size: 15px;
  padding-left: 6px;
}

p a {
  color: var(--textColor);
}

.siteFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--textColor);
  background-color: var(--contentBackground);
  min-width: -webkit-fill-available;
  text-align: center;
  font-weight: normal;
  font-size: 0.65em;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

@media (max-width: 700px){
  .siteFooter{
    flex-direction: column;
  }

  .verticalSeparator{
    display: none;
  }

  .horizontalSeparator{
    display: block;
  }
}

