<div class="aboutMe">
  <img ngSrc="https://avatars.githubusercontent.com/u/79949135" alt="Me" width=160 height=160 priority>
  <div class="desc">
    <h1>About Me</h1>
    <p>Hello! I'm Andrea, I'm {{age}} years old, an undergraduate Computer Science student at the University of Tor Vergata with a strong
      passion for web and mobile development.</p>

    <p>I'm a full-stack developer, an active contributor to the FOSS (Free and Open Source Software) community, and a
      proud Linux enthusiast.</p>

    <p>Fluent in both English and Italian, I work confidently with a wide range of technologies including <code>Python, Apex,
      Java, JavaScript, HTML, CSS, Angular, TypeScript, MySQL, PHP, Rust,</code> and Java-based frameworks such as <code>Spring Boot</code>
      and <code>Android Java</code>. (Also, fun fact—I can say the alphabet backwards!)</p>

    <p>My areas of expertise include:</p>
    <ul class="skills">
      <li>Android App Development</li>
      <li>Web Design & Development</li>
      <li>SQL and NoSQL Database Design & Management</li>
      <li>Search Engine Optimization (SEO)</li>
      <li>Back-End Development (PHP, Python Flask, Java Servlet, Spring Boot, Salesforce Apex)</li>
      <li>Front-End Development (HTML, CSS, JavaScript, Bootstrap, Angular, WordPress, etc.)</li>
      <li>Salesforce Full-Stack Development (Apex, SOQL, Flows, Lightning Components, Aura, LWC, etc.)</li>
      <li>General IT Support and Consultancy</li>
      <li>Linux Development, especially within the GNOME platform</li>
    </ul>

    <p>I'm always up for a challenge and constantly eager to expand my skill set. I actively learn new programming
      languages and frameworks, practice with CodeWars katas, and engage in discussions with fellow developers through
      online communities.</p>

    <p>Thanks for stopping by—hope you enjoy your visit!</p>

    <hr>
    <h3>Also, if you care, here's a couple of links to charities that are dear to me:</h3>
    <ul class="charity">
      <li><a href="https://thetrevorproject.org/" target="_blank" rel="noopener">The Trevor Project</a></li>
      <li><a href="https://gaycenter.it/" target="_blank" rel="noopener">Gay Center</a></li>
      <li><a href="https://www.arcigay.it/" target="_blank" rel="noopener">ArciGay</a></li>
      <li><a href="https://lgbt.foundation/" target="_blank" rel="noopener">LGBT Foundation</a></li>
      <li><a href="https://www.agedonazionale.org/" target="_blank" rel="noopener">AGEDO</a></li>
    </ul>
  </div>

</div>
