  <div class="projectList">
    <!-- pinkavocadodev.github.io -->
    <div class="entry">
        <img ngSrc="assets/screenshots/slavaUkraini.webp" alt="Vladolf Putler Chrome Extension" width=160 height=160>
        <div class="desc">
        <h1>Vladolf Putler Chrome Extension</h1>
        <p><i>A cheeky yet slightly political Chrome extension.</i></p>
        <p>I made this extension back when the invasion of Ukraine had just begun, it replaces all instances of Vladimir Putin with Vladolf Putler—just seems fitting :)</p>
        <p>You can check it out by <a href="https://github.com/PinkAvocadoDev/Vladolf-Putler-chrome-extension" target="_blank" rel="noopener">Clicking Here</a></p>
        </div>
    </div>
  </div>