<div class="projectList">
  <!-- pinkavocadodev.github.io -->
   <div class="entry">
    <img ngSrc="assets/screenshots/VenPatch.webp" alt="VenPatch" width=160 height=160>
    <div class="desc">
      <h1>VenPatch</h1>
      <p><i>A GTK4 and Libadwaita app for Vencord patching.</i></p>
      <p>I love Vencord—the themes, icons, and added utilities are fantastic! But there’s a catch: Discord updates frequently, and every update tends to break Vencord, requiring it to be re-patched.</p>
      <p>If you're on Windows (ew), this isn't a big deal—the Vencord team provides a handy re-patching utility with a simple click-to-run interface. On Linux, though, you're left re-running a curl command to download and execute the Go-based installer script. Tedious.</p>
      <p>That’s why I made VenPatch—a GTK4 and Libadwaita app that wraps the official Vencord installer in a clean, modern GUI. With VenPatch, you can Install, Repair, or Uninstall Vencord with just a few clicks.</p>
      <p>Bonus: VenPatch is fully compliant with the GNOME Human Interface Guidelines (aka the GNOME Design Bible).</p>
      <p>You can check it out by <a href="https://github.com/PinkAvocadoDev/VenPatch" target="_blank" rel="noopener">Clicking Here</a></p>
    </div>
  </div>
  <hr>
  <!-- Conserva Fatture -->
  <div class="entry">
    <img ngSrc="assets/screenshots/ConservaFatture.webp" alt="Conserva Fatture" width=160 height=160>
    <div class="desc">
      <h1>Conserva Fatture</h1>
      <p><i>One of my first GUI apps, built using the EasyPyGUI library.</i></p>
      <p>This tool prepares invoice data packets for submission to the Italian Revenue Agency (Agenzia delle Entrate). It scans a specified folder, identifies and groups <code>.XML</code> and <code>.P7M</code> invoice files—excluding irrelevant metadata—and organizes them into batches of 10 for compliance and transmission.</p>
      <p>You can check it out by <a href="https://github.com/PinkAvocadoDev/Conservazione-Fatture-Elettroniche" target="_blank" rel="noopener">Clicking Here</a></p>
    </div>
  </div>
</div>