<div class="welcomePage">
  <img ngSrc="https://avatars.githubusercontent.com/u/79949135" alt="Me" width=320 height=320>
  <div class="desc">
    <h1>Hello World!</h1>
    <p>Welcome to my GitHub page!</p>
    <p>My name is Andrea. I'm {{age}} and an undergraduate student in Computer Science at the University of Tor Vergata, and a full-stack developer with a passion for web and mobile development.</p>
    <p>This website is a space where you can find all the projects I've been working on—both my own and those I've collaborated on. Enjoy your stay!</p>
    <p>I'm also a Linux enthusiast (Ubuntu FTW—don’t fight me), and yes, I <i>have</i> used Arch, btw.</p>
  </div>

</div>
